html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 10px;
    color: #4e4d4d;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

main {
    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
    max-width: 50rem;
    border-radius: 4rem;
    padding: 3rem 1.6rem 6rem 1.6rem;
    margin: 2rem auto;
    box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.75);
}

h1 {
    margin: 0;
    font-size: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

section {
    background-color: whitesmoke;
    margin-bottom: 1.6rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    padding: 0 1.7rem;
    box-shadow: inset 0px 2px 2px lightgray;
}

section > div {
    padding: 1.6rem 0;
}

.bill {
    display: flex;
}

.bill label {
    flex: 1;
    align-self: center; 
}

.bill input {
    flex: 3;
}

input[type="number"] {
    font-family: inherit;
    background: lightgrey;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: inset 0 2px 2px lightgrey;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.total {
    font-size: 2rem;
    font-weight: 700;
}

.range {
    -moz-appearance: none;
    width: 100%;
    height: 8px;
    background: lightgrey;
    margin-top: 1.2rem;
    border-radius: 0.3rem;
    outline-color: #7cffcb;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #74f2ce;
    cursor: pointer;
}

.range::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #74f2ce;
    cursor: pointer;
    border: none;
}

.range::-moz-focus-outer {
    border: 0;
}