html {
    font-size: 10px;
    color: #4e4d4d;
}

main {
    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
    max-width: 50rem;
    border-radius: 4rem;
    padding: 3rem 1.6rem 6rem 1.6rem;
    margin: 2rem auto;
    box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.75);
}

h1 {
    margin: 0;
    font-size: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

section {
    background-color: whitesmoke;
    margin-bottom: 1.6rem;
    border-radius: 1rem;
}